@charset "utf-8";

@import "reset.css";

#app {
  width: 100%;
  font-family: "Arial";
}

header {
  background: url("asset/lion_banner.jpg");
  height: 500px;
}

.header--text {
  width: 25%;
  padding: 100px 200px;
  min-width: 220px;
}

.header--text h1 {
  font-size: 10px;
  margin-bottom: 50px;
}

.header--text h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0px;
}
.header--text span {
  font-size: 10px;
}
